@mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

header {
    @include flexCenter(row, rgb(215, 152, 16));

    color: $textColor;
    height: 100vh;
    button {
        background: $primaryBtn;
        color: $headerBtnTextColor;
    &:hover{
        background: rgb(212, 209, 10);
    }
    &::after {
        content: " button"
    }
    }
    p {
        background: $colorOfParagraph;
    }
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}