@import "./variables";
@import './header';


.contact {
    @include flexCenter(row, rgb(138, 143, 165)); //use a mixin called flexCenter from _header
    @extend h2; //extend here the rules written for h2 elements from _header
    font-size: 6vh;
    width: 120% - 40% + 20% ;
}

.contact button {
    background: $primaryBtn;
}